/*
    This module will change the Jellyfin logo to a custom one.
    This allows you to white-label your Jellyfin instance slightly.
    This can be used as a standalone module.
*/

:root {
    --logo-url: url('https://raw.githubusercontent.com/JamsRepos/Jamfin/main/assets/banner.png');
}

.pageTitleWithDefaultLogo,
.spashLogo {
    background-image: var(--logo-url) !important;
}