/*
    This module change the color of the count indicators.
    This is a simple and effective way to make your Jellyfin instance look more modern.
    This can be used as a standalone module.
*/

:root {
    --show-count-indicators: flex; /* none to hide */
    --count-indicator-colour: rgba(200, 200, 200, 0.75);
    --played-indicator-colour: rgba(32, 139, 36, 0.75);
}

.countIndicator {
    display: var(--show-count-indicators);
}

.countIndicator,
.fullSyncIndicator,
.mediaSourceIndicator,
.playedIndicator {
    background: var(--count-indicator-colour);
}

.playedIndicator {
    background: var(--played-indicator-colour);
}