/*
    This module change the color of the count indicators.
    This is a simple and effective way to make your Jellyfin instance look more modern.
    This can be used as a standalone module.
*/

.countIndicator,
.fullSyncIndicator,
.mediaSourceIndicator,
.playedIndicator {
    background: -webkit-linear-gradient(top right, #aa5cc3, #00a4dc);
    background: -moz-linear-gradient(top right, #aa5cc3, #00a4dc);
    background: -o-linear-gradient(top right, #aa5cc3, #00a4dc);
    background: -ms-linear-gradient(top right, #aa5cc3, #00a4dc);
    background: linear-gradient(to bottom right, #aa5cc3, #00a4dc);
}

.playedIndicator {
    background: -webkit-linear-gradient(top right, #4a964d, #208b23);
    background: -moz-linear-gradient(top right, #4a964d, #208b23);
    background: -o-linear-gradient(top right, #4a964d, #208b23);
    background: -ms-linear-gradient(top right, #4a964d, #208b23);
    background: linear-gradient(to bottom right, #4a964d, #208b23);
}