/*
    This module will remove the "Forgot Password" button from the login page.
    This is useful if you have a third-party user management system.
    This can be used as a standalone module.
*/

#loginPage .raised.cancel.block.btnForgotPassword.emby-button {
    display: none;
}