/*
    This module will hide the "My Media" section from the Jellyfin homepage.
    This is useful if you want an even more minimalistic homepage.
    This can be used as a standalone module.
*/

#indexPage .section0 .sectionTitle {
    display: none;
}

#indexPage .section0 {
    padding-top: 1em;
}

#indexPage .verticalSection.section0 {
    padding-top: 3em;
}