/*
    This module will make the cast cards smaller when viewing content details.
    This is useful if you want a more compact view of the cast.
    This can be used as a standalone module.
    Original Code: https://jellyfin.org/docs/general/clients/css-customization/#stylized-and-smaller-cast--crew-info
*/

#castContent .card.overflowPortraitCard.personCard.card-hoverable.card-withuserdata {
    width: 4.2cm;
    font-size: 90%;
}

#castContent .card.overflowPortraitCard.personCard.card-withuserdata {
    width: 4.2cm;
    font-size: 90%;
}

#castContent .cardContent-button.cardImageContainer.coveredImage.cardContent.cardContent-shadow.itemAction.lazy {
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

#castContent .cardContent-button.cardImageContainer.coveredImage.defaultCardBackground.defaultCardBackground1.cardContent.cardContent-shadow.itemAction {
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

#castContent .cardContent-button.cardImageContainer.coveredImage.defaultCardBackground.defaultCardBackground2.cardContent.cardContent-shadow.itemAction {
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

#castContent .cardContent-button.cardImageContainer.coveredImage.defaultCardBackground.defaultCardBackground3.cardContent.cardContent-shadow.itemAction {
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

#castContent .cardContent-button.cardImageContainer.coveredImage.defaultCardBackground.defaultCardBackground4.cardContent.cardContent-shadow.itemAction {
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

#castContent .cardContent-button.cardImageContainer.coveredImage.defaultCardBackground.defaultCardBackground5.cardContent.cardContent-shadow.itemAction {
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

#castContent .cardScalable {
    width: 3.8cm;
    height: 3.8cm;
}

#castContent .cardOverlayButton-br {
    bottom: 4%;
    right: 15%;
    width: 70%;
}

#castContent .cardOverlayButton.cardOverlayButton-hover.itemAction.paper-icon-button-light {
    margin: auto;
}

#castContent .cardBox:not(.visualCardBox) .cardPadder {
    background-color: unset;
}

#castContent .cardBox:not(.visualCardBox) .cardPadder,
#castContent .cardContent-shadow {
    box-shadow: unset;
}